.panel-body.text-center
  #player-form
    %form.form-inline{role: "form"}
      .form-group
        %input.form-control#query{type: "text", name: "search"}
      .form-group
        %input.btn.btn-info.leder#search{type: 'submit', value: 'Search'}

#myfirstchart{style: "height: 250px"}
#loaderImage
.hashes