<div class="panel-body">
  <div id="player-form">
    <form role="form">
      <div class="form-group">
        <input type="text" id="query" class="form-control" name="search">
        <button id="search" class="btn btn-info leder">Search</button>
      </div>
    </form>
  </div>
</div>




